.continue #btnStart, .resultContainer .winner #btnContinue {
    position: absolute;
    top: 50%; /* Centrage vertical */
    left: 50%; /* Centrage horizontal */
    width: auto;
    transform: translate(-50%, -50%); /* Décalage de moitié de la taille du bouton */
    z-index: 2;
    background-color: #273071; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne */
    border: none; /* Retirer la bordure */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille de police */
    cursor: pointer; /* Curseur au survol */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ombre */
    transition: background-color 0.1s ease; /* Animation au survol */
}

.continue #btnStart:hover, .resultContainer .winner #btnContinue:hover {
    background-color: #8092b8; /* Nouvelle couleur de fond au survol */
}