.resultContainer {
    display: none;
    position: absolute;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100vh; /* Ajustez la hauteur selon vos besoins */
    width: 100vw;
    z-index: 200;
}

.resultContainer #leafs .leaf{
    position: absolute;
}

.resultContainer #winner p {
    position: relative;
    font-size: 6vw;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    z-index: 300;
    color: rgb(255, 255, 255);
    text-shadow: -3px 5px rgba(39, 48, 113,0.3);
}

.resultContainer .winner #btnContinue {
    z-index: 300;
}